@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.App {
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

.App-navbar-logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.App-body {
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: transparent;
  position: absolute;
  min-width: 100vw;
  max-height: 8vh;
  top: 0;
  left: 0;
}

.navbar ul{
  min-width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  float: left;
}

.navbar ul li {
  font-size: 20px;
  color: #8c8383; 
}

.navbar ul li:hover {
  color: #e06969;
  transition: 0.5s;
}

.navbar .brand_name_li {
  font-size: 30px;
  color: #e06969;
}

button {
	padding: 16px 24px;
  margin: 20px 40px;
	font-size: 12px;
	font-family: 'Comfortaa', sans-serif;
	color: #e06969;
	letter-spacing: 5px;
	text-transform: uppercase;
}

button:hover {
  background-color: #e06969;
  color: #ffffff;
  transition: 0.5s;
}

.form_holder {
  width: 100vw;
  height: 100vh;
}

.form_holder p{
  font-size: 80px;
  font-weight: bold;
  font-family: 'Comfortaa';
  color: #e06969;
  margin: 3em auto 1em auto;
  display:block
}

.video-background{
  position: fixed;
  opacity: 0.5;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.signUpWrapper {
  display:none;
  height: 0px;
  margin-top: 30px;
}

.loginWrapper {
  display:none;
  height: 0px;
  margin-top: 30px;
}

.signUpWrapper.visible{
  display: block;
}

.loginWrapper.visible{
  display: block;
}

form input{
  font-family: 'Comfortaa', sans-serif;
  font-size: 13px;
  width: 50%;
  padding: 8px;
  margin: 3px auto;
  display: inline-block;
}

form input[type=submit] {
	padding: 12px 24px;
  margin: 20px 40px;
	font-size: 12px;
	font-family: 'Comfortaa', sans-serif;
	color: #e06969;
  letter-spacing: 5px;
	text-transform: uppercase;
}

form input[type=submit]:hover{
  background-color: #e06969;
  color: #ffffff;
  transition: 0.5s;
}