@import url('https://fonts.googleapis.com/css?family=Mallanna');

.App {
  text-align: center;
  font-family: 'Mallanna', sans-serif;
}

.App-navbar-logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.App-body {
  background-image: url('./images/book_background.jpg');
  background-size: cover;
  font-family: 'Mallanna', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #FFE2A9;
  position: absolute;
  min-width: 100vw;
  max-height: 8vh;
  top: 0;
  left: 0;
}

.navbar ul{
  min-width: 90vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
  float: left;
}

.navbar ul li {
  font-size: 20px;
}

.welcomeLogo {
  width: 100%;
}

button {
  font-family: 'Mallanna', sans-serif;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 10px;
  background-color: #ffffff;
  color: #ED252F;
  border:none;
}

.signUpForm .hidden{
  display: none;
}

.loginForm .hidden{
  display: none;
}

.form_holder {
  background-color: #FFE2A9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60vh;
}

form input{
  font-family: 'Mallanna', sans-serif;
  font-size: 13px;
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}

form input[type=submit] {
  font-family: 'Mallanna', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: white;
}