@import url('https://fonts.googleapis.com/css?family=Mallanna');

.App {
  text-align: center;
  font-family: 'Mallanna', sans-serif;
}

.App-header {
  background-color: #FFE2A9;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar-logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.App-body {
  background-color: #FFE2A9;
  font-family: 'Mallanna', sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar ul{
  min-width: 90vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
  float: left;
}

.navbar ul li {
  font-size: 20px;
}

button {
  border-radius: 20px;
  padding: 4px;
  margin: 5px 10px;
}

.signUpForm .hidden{
  display: none;
}

.loginForm .hidden{
  display: none;
}
